environment copy.yml
image_data/R1_cell migration R1 - Position 79_XY1562686175_Z0_T00_C1.tif
image_data/timelapse_ca_imaging_suite2p_file_00002_00001.tif
.gitignore
calcium_imaging_scripts_and_data/DataFrame_example_day1.xlsx
calcium_imaging_scripts_and_data/DataFrame_example_day2.xlsx
calcium_imaging_scripts_and_data/DataFrame_example_spiking_day2.xlsx
calcium_imaging_scripts_and_data/DataFrame_neural_data_event_triggered_avg.xlsx
calcium_imaging_scripts_and_data/DataFrame_spiking_data_event_triggered_avg.xlsx
calcium_imaging_scripts_and_data/Place_cell_evaluation.xlsx
conda_cheat_sheet.md
cellpose_results/
tifs/
recaps/
archive/
